/* CSS HEX

dark chocolate : #240A01
brown : #593525
sand : #886D5C

beige : #C2BCB0
grey : #727272
Deep blue : #243F50

*/

/* font css
font-family: 'Permanent Marker', cursive;
font-family: 'Scheherazade New', serif; */




:root {
    --color-neutral-light: #C2BCB0ff;
    --color-neutral-medium: #727272ff;
    --color-neutral-dark: #243F50;

    --color-main-light: #886D5C;
    --color-main-medium: #43281Dff;
    --color-main-dark: #240A01;

    --color-white: #fff;
    --color-black: #111;


    --font-sans: 'Permanent Marker', cursive;
    --font-serif: 'Scheherazade New', serif;

    --header-height:  3rem;
}

* {
    box-sizing: border-box;
}


body {
   font-family: var(--font-sans);
}



/* CORE ELEMENTS */
a {
   color: inherit;
   text-decoration: none;
   font-weight: bold;
}




/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }


.overscroll { overflow: auto; }
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }


.position-relative { position:relative; }
.position-absolute { position:absolute; }

.fill-parent {
   width: 100%;
   height: 100%;
}

.centered { text-align:center; }
.small { font-size: 0.8em; }

.padding-sm { padding:0.5em; }
.padding-md { padding:1em; }
.padding-lg { padding:2em; }


/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   overflow: hidden;
}

[data-role="main"] {
   flex: 1 1 100%;
   position: relative;
   overflow: hidden;
}
[data-role="header"],
[data-role="footer"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   overflow: hidden;
}


[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}
[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}
[data-role="header"] a {
   padding: 0 1em;
}

.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}



/* FORM ELEMENTS */
.form {}
.form-control {
   margin: 1em 0;
}
.signin-form .form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    outline: 0;
    background-color: transparent;
    font: inherit;
    -webkit-appearance: none;
}
.form .form-button,
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    color: inherit;
    background-color: var(--color-neutral-light);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
}
.ui-mobile .form-label {
   font-size: 0.8em;
   color: var(--color-neutral-medium);
   margin: 1rem 0 0;
}








.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/map.png);
   background-size: cover;
   background-position: center;
}




/* GENERIC NAV */
.nav {
   list-style-type: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   display: flex;
}
.nav li {
   flex: 1 1 auto;
   padding: 0 1em;
   text-align: center;
   line-height: var(--header-height);
}






/* Floater */
.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }

/* Circle Button */
.btn-circle {
   display: inline-block;
   background-color: var(--color-white);
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   font-size: 2.4rem;
   border-radius: 2em;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}





/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}

/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 5px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}
.modal-body {
    padding: 10px;
    background-color: var(--color-white);
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-light);
    line-height: 2rem;
    padding: 0 1em;
}
.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}



/* Modal Drawer */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}




.icon {
   width: 1em;
   height: 1em;
   display: inline-block;
}
.nav-icon {
   display: block;
   line-height: 2rem;
   font-size: 1.5rem;
}
.nav-icon .icon {
   vertical-align: middle;
}
.nav-icon-label {
   display: block;
   line-height: 1rem;
   font-size: 0.7rem;
}
.nav-icon-set li.active {
   background-color: var(--color-main-light);
}





/* ANIMAL LIST */
.animallist {
   list-style-type: none;
   margin: 0;
   padding: 1em;
}
.animallist-item~.animallist-item {
   margin-top: 1em;
}
.animallist-item a {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.animallist-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
}
.animallist-item-description {
}
.animallist-item-name {
   font-size: 1.5em;
}
.animallist-item-type,
.animallist-item-breed {
   font-size: 0.9em;
}





/* ANIMAL PROFILE */
.animal-profile-top {
   flex: none;
   height: 40vh;
}
.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}


.floating-header {
   position: absolute;
   background-color: rgba(255,255,255,0.15);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}